////////////////////////////////////////////////
// Header
.header {
    display: flex;
    background-color: $color-grey-light-1;
    justify-content: space-between;
    align-items: center;
    height: 7rem;

    @media (max-width:$screen-three) {
        flex-wrap: wrap;
        height: 9rem;
    }

    @media (max-width:$screen-five) {
        height: 11rem;
    }

}

////////////////////////////////////////////////
// LOGO
.logo {
    width: 4.5rem;
    margin-left: 2rem;
}

////////////////////////////////////////////////
// SEARCH
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 4rem;


    @media(max-width: $screen-five) {
        flex: 0 0 100%;
        order: 1;
        margin: 1rem auto;
    }

    &__input {
        font-family: inherit;
        font-weight: inherit;
        font-size: 1.4rem;
        height: 100%;
        width: 80%;
        border: none;
        padding: .8rem 1.2rem;
        border-radius: 10rem 0 0 10rem;
        transition: all .5s;



    }

    &__icon-box {
        background-color: #ffffff;
        border-radius: 0 100px 100px 0;
        border: none;
        overflow: hidden;
        height: 100%;
        padding: 0 1.2rem;
    }

    &__icon {
        height: 4rem;
        width: 2.25rem;
        border-radius: 0 10rem 10rem 0;
    }

    &__input:focus {
        width: 100%;
        outline: none;
    }


}

::-webkit-input-placeholder {
    font-weight: 500;
    letter-spacing: .2rem;
}

////////////////////////////////////////////////
// USER NAVIGATION
.user-nav {

    align-self: stretch;
    display: flex;
    align-items: center;

    &>* {
        padding: 0 2rem;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &>*:hover {
        background-color: #ffffff;
    }


    &__icon-box {
        position: relative;
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-grey-dark-1;
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: $color-primary;
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 4rem;
        border-radius: 10rem;
        margin-right: 1.2rem;
    }

    &__user-name {
        font-size: 1.4rem;
    }

}

////////////////////////////////////////////////
// SIDE NAVIGATION BAR
.side-nav {
    height: 100%;

    &__list {
        list-style: none;
        text-transform: uppercase;

        &:first-child {
            margin-top: 2rem;
        }

        @media (max-width:$screen-two) {
            display: flex;

            &:first-child {
                margin-top: 0;
            }
        }

        @media (max-width:$screen-eight) {
            flex-wrap: wrap;
        }
    }

    &__item {
        margin-bottom: 0.5rem;

        @media (max-width:$screen-two) {
            flex: 1;
            margin-bottom: 0;
        }


    }

    &__link {
        position: relative;
        z-index: 2;

        @media(max-width: $screen-four) {
            flex-direction: column;
        }


        &::before {
            content: "";
            background-color: $color-primary;
            width: 3px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transform: scaleY(0);
            transition: transform .2s,
                width .4s cubic-bezier(1, 0, 0, 1) .2s,
                background-color .1s;
        }

        &:link,
        &:visited {
            text-decoration: none;
            color: $color-grey-light-1;
        }

        display: flex;
        align-items: center;
        padding: 1.4rem 0;

        &:hover::before,
        &--active::before {
            width: 100%;
            transform: scaleY(1);
        }


        &--active {
            background-color: $color-primary;
        }



    }

    &__icon-box {
        margin: 0 2rem;

        @media (max-width: $screen-five) {
            margin: 1rem auto;
        }
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-grey-light-1;

        @media (max-width: $screen-five) {
            width: 2.3rem;
            height: 2.3rem;
        }
    }


}

////////////////////////////////////////////////
// LEGAL
.legal {
    display: block;
    color: $color-grey-light-1;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-size: 1.2rem;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    @media (max-width:$screen-two) {
        display: none;
    }
}

////////////////////////////////////////////////
// GALLERY
.gallery {
    display: flex;
    height: 19.7rem;
    overflow: hidden;

    &__img-box {
        width: 100%;
        overflow: hidden;

        @media (max-width:$screen-six) {
            &:first-of-type {
                width: 50%;
            }

            &:nth-of-type(2) {
                width: 50%;
            }

            &:nth-of-type(3) {
                width: 100%;
            }
        }
    }

    &__img {
        height: 100%;
        width: 100%;
    }

    @media (max-width:$screen-two) {
        height: 18rem;
    }

    @media (max-width:$screen-six) {
        flex-wrap: wrap;
        height: auto;
    }

}

////////////////////////////////////////////////
// HOTEL OVERVIEW
.hotel-overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;

    @media(max-width: $screen-eight) {
        flex-wrap: wrap;
    }

    &__name-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin-right: auto;

        @media(max-width: $screen-three) {
            padding: 4rem;
        }

        @media(max-width: $screen-five) {
            padding: 2rem;
        }

        @media(max-width: $screen-six) {
            justify-content: flex-start;
        }

    }

    &__name {
        margin-right: 1.5rem;
        font-size: 2.2rem;
        font-weight: 400;
        letter-spacing: 1.1;
        color: $color-grey-dark-1;

        @media(max-width: $screen-three) {
            font-size: 2.4rem;
        }

        @media(max-width: $screen-five) {
            font-size: 2.5rem;
        }

    }

    &__rating {
        display: flex;
        align-items: center;

        @media(max-width: $screen-six) {
            align-items: flex-start;
            justify-content: flex-start;
        }

        @media(max-width: $screen-seven) {
            display: none;
        }
    }

    &__location {
        align-self: stretch;
        display: flex;
        align-items: center;
        padding-right: 1.2rem;
        color: $color-primary;
        font-size: 1.3rem;

        & a {
            color: inherit;

        }

        @media(max-width: $screen-three) {
            font-size: 1.4rem;
        }
    }

    &__rating-box {
        background: $color-primary;
        color: #fff;
        font-size: 2.4rem;
        padding: 0 2rem;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media(max-width: $screen-three) {
            font-size: 3rem;
        }

        @media(max-width: $screen-eight) {
            flex: 1;
            padding: 2rem;
        }

        & span {
            font-size: 1.2rem;

            @media(max-width: $screen-three) {
                font-size: 1.4rem;
            }
        }
    }



}

svg[class$="-icon"] {
    width: 1.8rem;
    height: 1.8rem;
    fill: $color-primary;

    @media(max-width: $screen-three) {
        width: 2rem;
        height: 2rem;
    }
}

////////////////////////////////////////////////
// HOTEL DESCRIPTION
.hotel-des {
    padding: 4rem;
    display: flex;
    justify-content: space-between;

    @media (max-width:$screen-three) {
        padding: 2rem;
        flex-direction: column;
    }

    @media (max-width:$screen-six) {
        padding: 1rem;
    }


    &__detail {
        flex: 0 0 70%;
        background-color: #fff;
        border-radius: 5px;
        font-size: 1.6rem;
        line-height: 1.4;
        font-family: 'Nunito', sans-serif;
        padding: 4rem;
        margin-right: 4rem;

        @media (max-width:$screen-three) {
            padding: 2rem;
            margin-right: 2rem;
            font-size: 2rem;
        }

        @media (max-width:$screen-six) {
            padding: 1rem;
        }
    }

    & .paragraph {
        color: $color-grey-dark-1;
        margin: 0 auto;
        hyphens: auto;

        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }


    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 4rem 0;
        margin: 4rem 0;

        & li {
            flex: 0 0 50%;
            margin-bottom: .5rem;
        }

        & li::before {
            content: "";
            display: inline-block;
            height: 1.2rem;
            width: 1.2rem;
            margin-right: .7rem;

            //OLDER BROWSERS APPROACH
            // background-image: url('./../img/chevron-thin-right.svg');
            // background-size: cover;

            //NEWER BROWSER
            background-color: $color-primary;
            mask: url('./../img/chevron-thin-right.svg');
            mask-size: cover;
        }

        @media (max-width:$screen-six) {
            flex-direction: column;
            align-items: flex-start;

            & li {
                flex: 0 0 100%;
                margin-bottom: 1rem;
            }
        }
    }
}

////////////////////////////////////////////////
// RECOMMENDATIONS

.recommend {
    display: flex;
    align-items: center;
    width: 100%;
    color: $color-grey-dark-1;
    font-size: 1.6rem;



    & .text {
        font-size: 1.8rem;

        @media(max-width: $screen-three) {
            font-size: 2rem;
        }
    }

    &__photo-box {
        margin-left: auto;
    }

    &__photo {
        width: 3.75rem;
        border-radius: 10rem;
        border: 3px solid #fff;
        box-sizing: content-box;
        margin-right: -1.8rem;

        @media(max-width: $screen-three) {
            width: 4rem;
        }
    }
}


////////////////////////////////////////////////
// REVIEWS
.review {

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $color-grey-dark-1;
    font-size: 1.6rem;
    border-radius: 5px;
    padding: 4rem 0;
    // box-shadow: 0 1px 3px #dadada;

    @media(max-width: $screen-three) {
        font-size: 1.8rem;
    }

    &__box {
        box-shadow: 0 1px 3px #dadada;
        padding: 2rem 1rem;
        margin-bottom: 4rem;

        @media(max-width: $screen-three) {
            width: 60%;
            padding: 3rem;
        }

        @media(max-width: $screen-four) {
            width: 80%;
        }

        @media(max-width: $screen-four) {
            width: 90%;
        }
    }

    &__comment {
        margin-bottom: 2rem;

        @media(max-width: $screen-three) {
            font-size: 1.8rem;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__photo {
        width: 3.75rem;
        border-radius: 10rem;

        @media(max-width: $screen-three) {
            width: 4.5rem;
        }
    }

    &__name {
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: 1.2rem;

        @media(max-width: $screen-three) {
            font-size: 2rem;
        }

        & span {
            display: block;
            font-weight: 400;
            font-size: 1rem;

            @media(max-width: $screen-three) {
                font-size: 1.5rem;
            }
        }
    }

    &__rating {
        margin-left: auto;
        align-self: stretch;
        font-size: 2.4rem;
        font-weight: 100;
        padding: 0 .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-primary;

        @media(max-width: $screen-three) {
            font-size: 2.8rem;
        }
    }

    &__link {
        color: $color-primary;
        display: block;
        width: 100%;
        text-align: center;
        letter-spacing: 2px;

        @media(max-width: $screen-three) {
            font-size: 2.2rem;
        }
    }

}

////////////////////////////////////////////////
// CALL TO ACTION 
.cta {
    display: block;
    text-align: center;
    padding: 0 0 5rem 0;
    flex-direction: column;

    &__heading {
        margin: 0 auto;
        width: 60%;
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 2rem;
        color: $color-grey-dark-2;

        @media(max-width: $screen-three) {
            font-size: 2.5rem;
            margin-bottom: 3rem;
        }

        @media(max-width: $screen-five) {
            width: 80%;
        }
    }

}

.btn {
    border: none;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    padding: 2rem 7.6rem;
    border-radius: 50rem;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;

    @media(max-width: $screen-three) {
        width: 40%;
    }

    @media(max-width: $screen-five) {
        width: 60%;
    }

    &>* {
        display: inline-block;
        transition: all .2s;

    }


    // &__visible {}

    &__invisible {
        position: absolute;
        left: 50%;
        top: -100%;
        transform: translate(-50%, -50%);
    }

    &:hover &__invisible {
        top: 50%;
    }

    &:hover &__visible {
        transform: translateY(100px);
    }

}